@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #010615;
}
.container{
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .box{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 40px;
}
.container .box .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
    z-index: 2;
}
.container .box:hover .imgBx{
    transform: translate(-35px, -35px);
}
.container .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .box .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 15px;
    transition: 0.5s ease-in-out;
}
.container .box:hover .content{
    transform: translate(35px, 35px);
}
.container .box .content h2{
    font-size: 20px;
    color: #111;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
}
.container .box .content h2 span{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}
@media (max-width: 768px){  
    .container .box:hover .content{
        transform: translate(0, 35px);
    }
    .container .box:hover .imgBx{
        transform: translate(0, -35px);
    }
}
