@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,700&display=swap'); /* google font */

:root {
    --main-color:#8e44ad;
}

* {
    font-family: 'Nunito', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    transition: all .2s linear;
}

.container {
    min-height: 100vh;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
}

.container h1{
    color: var(--main-color);
    background: #fff;
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    border-radius: 10px;
    font-size: 6em;
    padding: 0.5em .8em;
}

.color-switcher {
    position: fixed;
    top: 25px;
    right: -200px;
    width: 200px;
    padding: 10px;
    background: #fff;
    z-index: 1000;
}

.color-switcher.active{
    right: 0px;
}

.color-switcher h3{
    color: var(--main-color);
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #3333;
    padding: 5px 0;
    text-align: center;
}

.color-switcher .switcher-btn{
    position: absolute;
    top: 0;
    left: -75px;
    color: var(--main-color);
    font-size: 35px;
    padding: 10px 20px;
    background: #fff;
    cursor: pointer;
}

.color-switcher .switcher-btn i{
    animation: rotate 2s linear infinite;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}

.color-switcher .theme-buttons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-switcher .theme-buttons-container .theme-buttons{
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}